mixin YoutubeVideo 
  +Section({image: `${CWD}assets/images/youtube.jpg`,youtube: {videoId: 'PrHaQxI1DiE', startSeconds: 22, endSeconds: 34, mute: true}, className: "overlay overlay-1"}, container).py-0.text-center(data-zanim-timeline!={} data-zanim-trigger!='scroll')
    +ScrollSpyButton({
      attrs: {"data-zanim-xs": {delay: 0.8}, "data-zanim-trigger": "scroll"}
    })
    .row.py-8.align-items-center.banner(data-zanim-timeline!={} data-zanim-trigger!='scroll') 
      .col 
        .overflow-hidden 
          h6.text-uppercase.text-white.fs-10.fs-lg-9.ls-3.font-base(data-zanim-xs!={delay: 1}) west virginia / united states 
        .overflow-hidden 
          h1.text-white.fs-4.fs-lg-2.text-capitalize(data-zanim-xs!={delay:0.9})
            | The 
            em Hideaway 
            | Resort 

mixin YoutubeVideoClassic
  +Section({image: `${CWD}assets/images/youtube.jpg`,youtube: {videoId: 'PrHaQxI1DiE', startSeconds: 22, endSeconds: 34, mute: true}, className: "overlay overlay-1"}, container).py-0.text-center(data-zanim-timeline!={} data-zanim-trigger!='scroll')
    +ScrollSpyButton({
      attrs: {"data-zanim-xs": {delay: 0.8}, "data-zanim-trigger": "scroll"}
    })
    .row.py-8.align-items-center.banner-classic(data-anim-timeline != {} data-zanim-trigger!='scroll') 
      .col 
        .overflow-hidden 
          h6.text-uppercase.text-white.fs-10.fs-lg-9.ls-3.font-base(data-zanim-xs!={delay: 1}) west virginia / united states 
        .overflow-hidden 
          h1.text-white.fs-4.fs-lg-2.text-capitalize(data-zanim-xs!={delay:0.9})
            | The 
            em Hideaway 
            | Resort 