mixin about
	+section(false, "container")(class="text-center text-lg-left")
		.row
			.col-lg-4
				a(href="gallery.html")
					+hoverbox("assets/images/gallery.jpg", 'Gallery')
			.col-lg-4.mt-4.mt-lg-0
				a(href="amenities.html")
					+hoverbox("assets/images/gallery-1.jpg", 'Amneities')
			.col-lg-4.mt-4.mt-lg-0
				a(href="packages.html")
					+hoverbox("assets/images/gallery-8.jpg", 'Packages')
		+story