mixin amenities
	+section(false, "container")(class="")
		.row
			.col-lg-5
				h3.ls.color-primary The House
				p.lead.pr-8.mt-4.d-none.d-lg-block Give the design a new look using the CSS classes and components, in 
					br
					| no time with no hassles.
			.col-lg-7
				p.dropcap Here is a description of your company details. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempor quam purus, sed egestas massa feugiat eu. Nunc et congue lorem, quis suscipit eros. Maecenas congue libero non ornare pretium. Donec pulvinar nulla eu ornare lacinia. In euismod facilisis interdum. Phasellus tellus eros, commodo in tincidunt nec, accumsan at augue. Donec ut odio nunc. Ut dapibus non nisi in venenatis. Mauris justo nisl, mattis in pretium nec, volutpat sed ipsum. Maecenas nibh magna, feugiat eu consectetur vitae, bibendum sed risus.

				.row.my-4.my-lg-6
					.col-12
						img(src="assets/images/house-1.jpg" alt="")

					.col-lg-4.mt-4
						img(src="assets/images/gallery-8.jpg" alt="")

					.col-lg-4.mt-4
						img(src="assets/images/gallery-9.jpg" alt="")

					.col-lg-4.mt-4
						img(src="assets/images/gallery-12.jpg" alt="")


				p Vestibulum sit amet vulputate nibh. Aliquam ornare lectus vel lacus aliquam ullamcorper. Vestibulum at hendrerit diam, at accumsan odio. Nullam rutrum purus sed metus aliquet faucibus. Nulla hendrerit metus et tincidunt tristique. Fusce molestie commodo mauris, vitae vestibulum tortor venenatis non. Pellentesque quis urna a magna bibendum volutpat a at nisl. Suspendisse finibus, tortor id gravida feugiat, nulla leo venenatis nisi, et aliquam quam ligula eget dui. Suspendisse lectus lorem, varius vel dapibus a, vestibulum a eros. Sed sed magna in neque commodo pretium.


		.row.mt-8
			.col-lg-5
				h3.ls.color-primary The Property
				p.lead.pr-8.mt-4.d-none.d-lg-block Hideaway is responsive from iPhone to iMac and anything in between, with latest Grid layout.
			.col-lg-7
				p.dropcap Write the description of your company here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempor quam purus, sed egestas massa feugiat eu. Nunc et congue lorem, quis suscipit eros. Maecenas congue libero non ornare pretium. Donec pulvinar nulla eu ornare lacinia. In euismod facilisis interdum. Phasellus tellus eros, commodo in tincidunt nec, accumsan at augue. Donec ut odio nunc. Ut dapibus non nisi in venenatis. Mauris justo nisl, mattis in pretium nec, volutpat sed ipsum. Maecenas nibh magna, feugiat eu consectetur vitae, bibendum sed risus.

				.row.my-4.my-lg-6
					.col-12
						img(src="assets/images/cta.jpg" alt="")

					.col-lg-4.mt-4
						img(src="assets/images/gallery-1.jpg" alt="")

					.col-lg-4.mt-4
						img(src="assets/images/gallery-4.jpg" alt="")

					.col-lg-4.mt-4
						img(src="assets/images/gallery-7.jpg" alt="")


				p Vestibulum sit amet vulputate nibh. Aliquam ornare lectus vel lacus aliquam ullamcorper. Vestibulum at hendrerit diam, at accumsan odio. Nullam rutrum purus sed metus aliquet faucibus. Nulla hendrerit metus et tincidunt tristique. Fusce molestie commodo mauris, vitae vestibulum tortor venenatis non. Pellentesque quis urna a magna bibendum volutpat a at nisl. Suspendisse finibus, tortor id gravida feugiat, nulla leo venenatis nisi, et aliquam quam ligula eget dui. Suspendisse lectus lorem, varius vel dapibus a, vestibulum a eros. Sed sed magna in neque commodo pretium.