mixin contact
	h6.fs-0.mb-4.color-primary 123 Fake Street, Stone Ridge, NY 12345
	.p-2
		.row
			.col
				.googlemap(data-latlng='41.8333925,-88.0123393' data-scrollwheel='false' data-icon='assets/images/map-marker.png'  data-zoom='15' data-theme='Default' style="height: 353px;")
					.marker-content.py-3
						h5.color-primary The 
							em Hideaway 
							| Resort
						p.fs--1
							| A nice description about your place
							br
							| Customize it as you want.