mixin contact
	+section(false, 'container').py-9
		.row
			.col-lg-4.pr-lg-6
				.row
					.col-md-4.col-lg-12.mb-4
						h5.mb-2 Manitoba Office
						p
							| 121 King's Street,
							br
							| Manitoba 1230, Canada
							br
							| Cell: 
							a(href="tel:+47535383458").color-5 +475 3538 3458
					.col-md-4.col-lg-12.mb-4
						h5.mb-2 Brooklyn Office
						p
							| 62 Collins Street West,
							br
							| Brooklyn 3030, USA
							br
							| Cell: 
							a(href="tel:+47523433421").color-5 +475 2343 3421
					.col-md-4.col-lg-12
						h4.mb-2 Socials
						a(href="#").d-inline-block.mt-2
							span.fa.fa-linkedin-square.fs-2.mr-2.color-primary
						a(href="#").d-inline-block.mt-2
							span.fa.fa-twitter-square.fs-2.mx-2.color-primary
						a(href="#").d-inline-block.mt-2
							span.fa.fa-facebook-square.fs-2.mx-2.color-primary
						a(href="#").d-inline-block.mt-2
							span.fa.fa-google-plus-square.fs-2.ml-2.color-primary
			.col-lg.mt-4.mt-lg-0
				form.zform
					.row
						.col-12
							input.form-control(type="hidden" name="to" value="user@domain.extension")
							input(type="text" placeholder="Your Name" required).form-control
						.col-12.mt-4
							input(type="email" placeholder="Email" required).form-control
						.col-12.mt-4
							textarea(rows="6" placeholder="Enter your descriptions here..." required).form-control
						.col-12.mt-4
							.row
								.col-auto
									button.btn.btn-md-lg.btn-primary(type="Submit") 
										span.color-white.fw-600 Send Now
								.col
									.zform-feedback