mixin contact-form
	+section(false, 'container')(class="text-center mt-6 ")
		.row.justify-content-center
			.col-6
				h3.color-primary Leave a Comment:
				form.zform.mt-6
					.row
						.col-12
							input.form-control(type="hidden" name="to" value="user@domain.extension")
							input(type="text" placeholder="Your Name" required).form-control.background-white
						.col-12.mt-4
							input(type="email" placeholder="Email" required).form-control.background-white
						.col-12.mt-4
							textarea(rows="11" placeholder="Enter your descriptions here..." required).form-control.background-white
						.col-12.mt-4
							.row
								.col-auto
									button.btn.btn-md-lg.btn-primary(type="Submit") 
										span.color-white.fw-600 Send Now
								.col
									.zform-feedback