mixin cta
	+section({image: "assets/images/cta.jpg", cssclass: "overlay overlay-2 parallax"}, 'container').py-lg-11.py-8.text-center.overflow-hidden
		.row
			.col
				h1.color-white.fs-4.fs-lg-7 Eagerly 
					em waiting 
					| to welcome you.

				a(href="#").btn.btn-outline-white.btn-lg.mt-6.border-2x.d-none.d-lg-inline-block book your stay
				a(href="#").btn.btn-outline-white.btn-sm.mt-4.border-2x.d-lg-none.text-uppercase book your stay