mixin gallery
	+section(false, 'container-fluid')(class='text-center sortable mt-6')
		.row.no-gutters
			.col-lg-8.p-lg-2.mt-3.mt-lg-0
				img(src="assets/images/gallery-8.jpg" alt="" width= "1187" )

			.col-lg-4.p-lg-2
				.row
					.col-lg-12.px-lg-2.mt-3.mt-lg-0
						img(src="assets/images/gallery-2.jpg" alt="" width="570")
					.col-lg-12.px-lg-2.mt-3
						img(src="assets/images/gallery-3.jpg" alt="" width="570")


		//- .row.no-gutters
		//- 	.col-lg-4.p-lg-2
		//- 		.row
		//- 			.col-lg-12.px-lg-2.mt-3.mt-lg-0
		//- 				img(src="" alt="" width="570")
		//- 			.col-lg-12.px-lg-2.mt-3
		//- 				img(src="" alt="" width="570")

		//- 	.col-lg-8.p-lg-2.mt-3.mt-lg-0
		//- 		img(src="" alt="" width= "1187" )


		//- .row.no-gutters
		//- 	.col-lg-8.p-lg-2.mt-3.mt-lg-0
		//- 		img(src="" alt="" width= "1187" )

		//- 	.col-lg-4.p-lg-2
		//- 		.row
		//- 			.col-lg-12.px-lg-2.mt-3.mt-lg-0
		//- 				img(src="" alt="" width="570")
		//- 			.col-lg-12.px-lg-2.mt-3
		//- 				img(src="" alt="" width="570")

		.row.no-gutters
			.col-lg-6.p-lg-2.mt-3.mt-lg-0
				img(src="assets/images/gallery-4.jpg" alt="" width="879")
			.col-lg-6.p-lg-2.mt-3.mt-lg-0
				img(src="assets/images/gallery-5.jpg" alt="" width="879")

		.row.no-gutters
			.col-lg-4.p-lg-2
				.row
					.col-lg-12.px-lg-2.mt-3.mt-lg-0
						img(src="assets/images/gallery-6.jpg" alt="" width="570")
					.col-lg-12.px-lg-2.mt-3
						img(src="assets/images/gallery-7.jpg" alt="" width="570")

			.col-lg-8.p-lg-2.mt-3.mt-lg-0
				img(src="assets/images/gallery-1.jpg" alt="" width= "1187" )

		.row.no-gutters
			.col-lg-6.p-lg-2.mt-3.mt-lg-0
				img(src="assets/images/gallery-9.jpg" alt="" width="879")
			.col-lg-6.p-lg-2.mt-3.mt-lg-0
				img(src="assets/images/gallery-10.jpg" alt="" width="879")
					

