mixin gallery
	+section(false, 'container-fluid.px-0').sortable.pt-4.pb-0
		.row
			.col-lg-8.mb-4
				img(src="assets/images/feature/8.jpg" alt="")

			.col-lg-4
				.row
					.col-lg-12.mb-4
						img(src="assets/images/feature/2.jpg" alt="")
					.col-lg-12.mb-4
						img(src="assets/images/feature/3.jpg" alt="")

		.row
			.col-lg-6.mb-4
				img(src="assets/images/feature/4.jpg" alt="")
			.col-lg-6.mb-4
				img(src="assets/images/feature/5.jpg" alt="")

		.row
			.col-lg-4
				.row
					.col-lg-12.mb-4
						img(src="assets/images/feature/6.jpg" alt="")
					.col-lg-12.mb-4
						img(src="assets/images/feature/7.jpg" alt="")

			.col-lg-8.mb-4
				img(src="assets/images/feature/1.jpg" alt="")

		.row
			.col-lg-6.mb-4
				img(src="assets/images/feature/9.jpg" alt="")
			.col-lg-6.mb-4
				img(src="assets/images/feature/10.jpg" alt="")
					

