mixin generic(title, des, links)
	.row.mt-6
		.col-6
			h4.ls.color-4.fw-300= title
		.col-6.pl-0
			h6.fs-0.color-6.lh-6= des
			ul
				each link in links
					li.my-4.d-block.border-left.border-color-9.pl-4
						a(href="#").color-7=link