mixin history
	+section(false, "container")
		.row.no-gutters
			.col-md-7.col-lg-4
				.sticky-lg-top.pt-4
					h3.ls.color-primary.mb-4 Established in 1985
					p.lead.pr-lx-8.pr-lg-6.mb-5 Customize colors, buttons, typography, gaps, spaces and everything for every single screen sizes without writing CSS
			.col-lg-8.mt-lg-4.pl-lg-5
				p.dropcap Put a description of your company's history here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempor quam purus, sed egestas massa feugiat eu. Nunc et congue lorem, quis suscipit eros. Maecenas congue libero non ornare pretium. Donec pulvinar nulla eu ornare lacinia. In euismod facilisis interdum. Phasellus tellus eros, commodo in tincidunt nec, accumsan at augue. Donec ut odio nunc. Ut dapibus non nisi in venenatis. Mauris justo nisl, mattis in pretium nec, volutpat sed ipsum. Maecenas nibh magna, feugiat eu consectetur vitae, bibendum sed risus.

				p Suspendisse et nulla vitae nulla finibus laoreet. In turpis felis, pretium eget imperdiet non, placerat ac sapien. Sed metus massa, luctus ut mattis vulputate, ullamcorper eu risus. Nunc eleifend enim non tortor maximus, in mattis mauris commodo. Mauris euismod neque nisl, sit amet lacinia purus vestibulum vitae. Aliquam id sapien sit amet ante interdum fringilla sed facilisis nunc. Aliquam erat volutpat. Integer posuere, tellus id sollicitudin hendrerit, nibh justo blandit tellus, et accumsan lorem erat ut eros. Nulla varius cursus erat ac consequat. Nam varius iaculis lectus vitae mattis. Aenean in ornare nibh, in imperdiet elit.

				p Vivamus augue leo, varius et pharetra ac, imperdiet sit amet diam. Fusce ultricies ante sit amet dolor tempor consequat. Sed luctus, lectus a tincidunt lobortis, ante metus tincidunt leo, laoreet aliquet ex neque in diam. Sed tincidunt velit sit amet faucibus sodales. Fusce convallis ipsum risus. Nullam ac arcu nec justo laoreet iaculis et non diam. Aliquam suscipit felis a arcu laoreet congue. Morbi et enim viverra, varius ipsum a, tincidunt tortor. Fusce porta euismod magna, eu vehicula tellus feugiat ac. Phasellus accumsan mauris sit amet urna pretium varius. Phasellus finibus placerat est a gravida.

				p Vestibulum sit amet vulputate nibh. Aliquam ornare lectus vel lacus aliquam ullamcorper. Vestibulum at hendrerit diam, at accumsan odio. Nullam rutrum purus sed metus aliquet faucibus. Nulla hendrerit metus et tincidunt tristique. Fusce molestie commodo mauris, vitae vestibulum tortor venenatis non. Pellentesque quis urna a magna bibendum volutpat a at nisl. Suspendisse finibus, tortor id gravida feugiat, nulla leo venenatis nisi, et aliquam quam ligula eget dui. Suspendisse lectus lorem, varius vel dapibus a, vestibulum a eros. Sed sed magna in neque commodo pretium.

				p.mt-4 We look forward to your stay.

				h4.color-primary.mt-5.mb-1
					em Brandi 
					| and 
					em Seith
				p Founders, Hideaway Inn
