mixin home
	+section(false, "container").text-center.text-lg-left.py-9.background-white#target-down-indicator
		.row
			.col-lg-4
				a(href="gallery.html")
					+hoverbox("assets/images/thumb-gallery.jpg", 'Gallery')
			.col-lg-4.mt-4.mt-lg-0
				a(href="amenities.html")
					+hoverbox("assets/images/thumb-amneities.jpg", 'Amneities')
			.col-lg-4.mt-4.mt-lg-0
				a(href="packages.html")
					+hoverbox("assets/images/thumb-packages.jpg", 'Packages')
		
		.row.mt-6
			.col-lg-4
				h3.color-primary.ls An 
					em inviting 
					| escape
			.col-lg-8
				p Crafted with Bootstrap 4, Hideaway is perfectly responsive to every devices available. Thousands of CSS helper classes let you customize this template in any way you want, without writing any code. This is a dummy text that you can change customize as you like with your description.
				a(href="#").btn.btn-outline-primary.mt-2.mt-lg-4.py-lg-3.px-lg-4.fw-300 Our History

	+section({image: "assets/images/cta.jpg", cssclass: "overlay overlay-2 parallax", attrs: {"data-rellax-percentage": 0.5}}, 'container').text-center.overflow-hidden.py-11
		.row
			.col
				h1.color-white.fs-4.fs-lg-7.mb-5 Eagerly 
					em waiting 
					| to welcome you.

				a(href="#").btn.btn-outline-white.btn-lg.d-none.d-lg-inline-block Book Your Stay
				a(href="#").btn.btn-outline-white.d-lg-none Book Your Stay


	+section(false, 'container').text-center.py-9
		.row
			.col-xl-6
				h6.fs-0.mb-4.color-primary 123 Fake Street, Stone Ridge, NY 12345
				.p-2
					.row
						.col
							.googlemap(data-latlng='41.8333925,-88.0123393' data-scrollwheel='false' data-icon='assets/images/map-marker.png'  data-zoom='15' data-theme='Default' style="height: 353px;")
								.marker-content.py-3
									h5.color-primary The 
										em Hideaway 
										| Resort
									p.fs--1
										| A nice description about your place
										br
										| Customize it as you want.

			.col-xl-6.mt-6.mt-xl-0
				a(href="#").d-inline-block.mx-1.mx-lg-2.font-1.color-primary.mb-lg-4 Instagram
				span /
				a(href="#").d-inline-block.mx-1.mx-lg-2.font-1.color-primary.mb-lg-4 Facebook
				span /
				a(href="#").d-inline-block.mx-1.mx-lg-2.font-1.color-primary.mb-lg-4 Twitter
				.row.no-gutters.mt-4.mt-lg-0
					.col-md-6.col-lg-4.p-1
						a(href="assets/images/feature/3.jpg" data-lightbox="image" data-title="my caption") 
							img(src="assets/images/feature/3.jpg" alt="")
					.col-md-6.col-lg-4.p-1
						a(href="assets/images/feature/8.jpg" data-lightbox="image" data-title="my caption") 
							img(src="assets/images/feature/8.jpg" alt="")
					.col-md-6.col-lg-4.p-1
						a(href="assets/images/feature/5.jpg" data-lightbox="image" data-title="my caption") 
							img(src="assets/images/feature/5.jpg" alt="")
					.col-md-6.col-lg-4.p-1
						a(href="assets/images/feature/1.jpg" data-lightbox="image" data-title="my caption") 
							img(src="assets/images/feature/1.jpg" alt="")
					.col-md-6.col-lg-4.p-1
						a(href="assets/images/feature/6.jpg" data-lightbox="image" data-title="my caption") 
							img(src="assets/images/feature/6.jpg" alt="")
					.col-md-6.col-lg-4.p-1
						a(href="assets/images/feature/12.jpg" data-lightbox="image" data-title="my caption") 
							img(src="assets/images/feature/12.jpg" alt="")