mixin navigation
	#znav-container.znav-container.znav-transparent.mt-4
		.container
			nav.navbar.navbar-expand-lg
				a.navbar-brand.overflow-hidden.pr-3.fs-3(href='index.html')
					| Hideaway 
					span.d-none.d-lg-inline-block Resort
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
					.hamburger.hamburger--emphatic
						.hamburger-box
							.hamburger-inner
				#navbarNavDropdown.collapse.navbar-collapse
					ul.navbar-nav.font-2.fs-0
						li
							a(href='JavaScript:void(0)') Home
							ul.dropdown.fs--1
								li
									a(href="index.html") Slider Header
								li
									a(href="index--header-slider-classic.html") Slider Classic
								li
									a(href="index--header-static.html") Static Header
								li
									a(href="index--header-static-classic.html") Static Classic
								li
									a(href="index--header-youtube-video.html") Youtube Background 
								li
									a(href="index--header-youtube-video-classic.html") Youtube Classic
								li
									a(href="index--header-selfhosted-video.html") Self-hosted Video
								li
									a(href="index--header-selfhosted-video-classic.html") Self-hosted Classic
						li
							a(href='JavaScript:void(0)') Pages
							ul.dropdown.fs--1
								li
									a(href="gallery.html") Gallery
								li
									a(href="amenities.html") Amenities
								li
									a(href="packages.html") Packages
								li
									a(href='history.html') Our History
						li
							a(href='contact.html') Contact
						li
							a(href='JavaScript:void(0)') Elements
							ul.dropdown.fs--1
								li
									a(href="components-buttons.html") Buttons
								li
									a(href="components-colors.html") Colors
								li
									a(href="components-googlemap.html") Google Map
								li
									a(href="components-grid.html") Grid
								li
									a(href="components-icons.html") Icons
								li
									a(href="components-layouthelpers.html") Layout Helpers
								li
									a(href="components-modal-video.html") Modal Video
								li
									a(href="components-owlcarousal.html") Owl Carousal
								li
									a(href="components-slider.html") Slider
								li
									a(href="components-typography.html") Typography
					ul.navbar-nav.ml-auto
						li.text-center
							a(href='#').pl-3.pl-lg-0.d-inline-block
								span.fa.fa-facebook
							a(href='#').pl-3.pl-lg-1.d-inline-block
								span.fa.fa-twitter
							a(href='#').pl-3.pl-lg-1.d-inline-block
								//- img(src="assets/images/instagram.png" alt="" width=12)
								span.fa.fa-google-plus
						li
							a(href='#' target="Blank").btn.btn-outline-white.btn-sm.border-2x.fw-700 Book Now