mixin packages
	+section(false, 'container').text-center.py-9
		.row.justify-contents-center
			.col-lg-6.mb-4
				+feature("1", "eat,drink & be merry", "279")
			.col-lg-6.mb-4
				+feature("5", "holiday history", "299")
			.col-lg-6.mb-4
				+feature("9", "christmas cheer", "849")
			.col-lg-6.mb-4
				+feature("11", "tis the season", "309")
			.col-lg-6.mb-4
				+feature("4", "mistletoe magic", "969")
			.col-lg-6.mb-4
				+feature("6", "royaltea package", "269")
			//- .col-lg-6.mb-4
				+feature("7", "birthday wishes", "279")