mixin packages
	+section(false, 'container')(class="text-center")
		.row.justify-contents-center
			.col-lg-6.mb-4
				+feature("1", "eat,drink & be merry", "$279")
			.col-lg-6.mb-4
				+feature("2", "holiday history", "$299")
			.col-lg-6.mb-4
				+feature("3", "christmas cheer", "849")
			.col-lg-6.mb-4
				+feature("4", "tis the season", "$309")
			.col-lg-6.mb-4
				+feature("5", "mistletoe magic", "$969")
			.col-lg-6.mb-4
				+feature("6", "royaltea package", "$269")
			.col-lg-6.mb-4
				+feature("7", "birthday wishes", "$279")