mixin self-hosted-video-background
	section.py-0.text-center
		+background({image: 'https://static1.squarespace.com/static/5898b93886e6c0c6ce82f191/58e52eb09f7456f42d8edaca/58f8dcf88419c2461602bc46/1492705954795/08_20161004S1_BOUTIQUE_HOTEL_HASBROUCK_HOUSE_ESTABLISHING_042-square.jpg', video: 'assets/videos/morning-routine/', cssclass:''}, 'container')(id="header-video", class="header color-white p-0")
		.container
			.row.h-box.align-items-center.py-8(data-zanim-timeline!={} data-zanim-trigger="scroll")
				.col
					h6.text-uppercase.color-white.fs--1.fs-lg-0.font-2.ls(data-zanim!={delay: 0.1}) Stone ridge / New York
					h1.color-white.fs-5.fs-lg-7(data-zanim!={delay: 0.2}) The 
						em Hideaway 
						| Resort
