mixin sliding-header
	.flexslider.flexslider-simple.h-box
		ul.slides
			li(data-zanim-timeline!={})
				+section(false, '')(class="py-0 text-center")
					+background({image: "assets/images/main-header.jpg", cssclass: "overlay"})
					.container
						.row.h-box.align-items-center.py-8(data-inertia!={weight: 1.5})
							.col
								.overflow-hidden
									h6.text-uppercase.color-white.fs--1.fs-lg-0.font-2.ls(data-zanim!={delay: 0.1}) Stone ridge / New York
								.overflow-hidden
									h1.color-white.fs-5.fs-lg-7(data-zanim!={delay: 0.2}) The 
										em Hideaway 
										| Resort
			li(data-zanim-timeline!={})
				+section(false, '')(class="py-0 text-center")
					+background({image: "assets/images/main-header-1.jpg", cssclass: "overlay"})
					.container
						.row.h-box.align-items-center.py-8
							.col
								.overflow-hidden
									h6.text-uppercase.color-white.fs--1.fs-lg-0.font-2.ls(data-zanim!={delay: 0.1}) Stone ridge / New York
								.overflow-hidden
									h1.color-white.fs-5.fs-lg-7(data-zanim!={delay: 0.2}) Live   
										em Wonderful 
										| Life
							
			li(data-zanim-timeline!={})
				+section(false, '')(class="py-0 text-center")
					+background({image: "assets/images/main-header-2.jpg", cssclass: "overlay"})
					.container
						.row.h-box.align-items-center.py-8
							.col
								.overflow-hidden
									h6.text-uppercase.color-white.fs--1.fs-lg-0.font-2.ls(data-zanim!={delay: 0.1}) Stone ridge / New York
								.overflow-hidden
									h1.color-white.fs-5.fs-lg-7(data-zanim!={delay: 0.2}) Perfect 
										em Vacation 
										| Place 
							