mixin story
		.row.mt-lg-8.mt-4
			.col-lg-6
				h3.color-primary.ls An 
					em inviting 
					| escape
			.col-lg-6.p-0
				p Crafted with Bootstrap 4, Hideaway is perfectly responsive to every devices available. Thousands of CSS helper classes let you customize this template in any way you want, without writing any code. This is a dummy text that you can change customize as you like with your description.
				a(href="#").btn.btn-outline-primary.text-uppercase.ls.mt-2.mt-lg-4.py-lg-3.px-lg-4.fw-300 our history