mixin video-background
	section.py-0.text-center
		+background({image: 'assets/images/video.jpg', youtube: {url: 'https://www.youtube.com/watch?v=AUlsN10Ay3o', start: 30, stop: 60, quality: 'hd720'}, cssclass:''})(id="header-video", class="header color-white p-0")
		.container
			.row.h-box.align-items-center.py-8(data-zanim-timeline!={} data-zanim-trigger="scroll")
				.col
					h6.text-uppercase.color-white.fs--1.fs-lg-0.font-2.ls(data-zanim!={delay: 0.1}) Stone ridge / New York
					h1.color-white.fs-5.fs-lg-7(data-zanim!={delay: 0.2}) The 
						em Hideaway 
						| Resort
