mixin ScrollSpyButton(config)
  a.down-indicator(href=`${config.url ? config.url : "#target-down-indicator"}` data-offset= `${config.offset ? config.offset : '84'}` )&attributes(config.attrs)= attrs
    span.fas.fa-chevron-down.fs-7