mixin Slider(config)
  .swiper-theme-container.theme-slider(data-swiper-theme-container)&attributes(attributes)
    .swiper(data-swiper!={
      autoplay: {
        delay: 5000,
        disableOnInteraction: false
      },
      spaceBetween: 30,
      loop: true,
      loopedSlides: 5,
      slideToClickedSlide: true,
      slidesPerView: 1,
      effect: 'fade'
    })
      .swiper-wrapper
        each item in config.items
          .swiper-slide 
            img.rounded-3(src=`${CWD}${item.image}`, alt="")
      if config.pagination 
        .swiper-pagination 
      if config.navigation  
        .swiper-nav
          .swiper-button-next.swiper-button-white
          .swiper-button-prev.swiper-button-white