////////////////////////////////////
// Typography
////////////////////////////////////

$modular-scale-ratio	: 1.200;

$font-1			: 'Playfair Display', serif;
$font-2			: 'Hind Madurai', sans-serif;


///////////////////////////////////
//
// Configurations for ZiON
//
//////////////////////////////////
$colors	:(	black		: black,
			1			: #0c151a,
			2			: #2b2b2b,
			3			: #404040,
			4			: #555555,
			5			: #6a6a6a,
			6			: #7F7F7F,
			7			: #949494,
			8			: #bebebe,
			9			: #e1e1e1,
			10			: #f2f2f2,
			11			: #fafafa,
			white		: white,
			primary 	: #240701,
			info		: #2eb7f5,
			success		: #4CD964,
			warning		: #FF9500,
			danger		: #FF3B30,
			oxford		: #002147,
			facebook   	: #3b5998,
			twitter    	: #1da1f2,
			google-plus	: #db4437,
			github     	: #24292e);