extends ../layouts/LayoutComponent
include ../mixins/components/Buttons

prepend styles 

prepend scripts

append variables
  - var pageTitle = 'Buttons'

append component 
  
  h4 Buttons Colors 
  p 
    strong Hideaway 
    | use
    code .btn
    | class for default button style. Customize the color of a button using
    code .btn-*
    |  and
    code .btn-outline-*
    | . You can use the following classes. 
  p For detail documentation, 
    a(href=`https://getbootstrap.com/docs/${bootstrapVersion}/components/buttons/` target='_blank') View Buttons on Bootstrap 
      span.ms-1 &xrarr;

  +ComponentCard({
    title: 'Solid Buttons',
    titleClass: 'fs-8 fw-normal',
    prismClass: 'mt-5'
  }).mt-5.mb-3
    +SolidButtonsExample

  +ComponentCard({
    title: 'Outline Buttons',
    titleClass: 'fs-8 fw-normal',
    prismClass: 'mt-5'
  }).mt-5.mb-3
    +OutlineButtonsExample

  +ComponentCard({
    title: 'Inverted Buttons',
    titleClass: 'fs-8 mb-2 fw-normal',
    prismClass: 'mt-4'
  }).mt-5.mb-6
    +InvertedButtonsExample

  h4 Buttons Sizes 
  p Customize the size of a button using 
    code .btn-xs
    | ,
    code .btn-sm 
    | and 
    code .btn-lg 
  
  +ComponentCard({
    prismClass: 'mt-5'
  }).mt-4.mb-6
    +ButtonSizesExample

  +ButtonsShape

  h5 Play Buttons 
  .bg-1000.p-3.mb-6 
    a.me-5(href="#!")
      img(src=`${CWD}assets/images/icon-play.svg`, alt="" width="80")
    a(href="#!")
      img(src=`${CWD}assets/images/icon-play-o.svg`, alt="" width="80")
  
  .d-md-none
    h4 Button Group
    p 
      | Group a series of buttons together on a single line with the button group. Wrap a series of buttons with 
      code .btn 
      | in
      code .btn-group 
    +ComponentCard({
      prismClass: 'mt-5'
    }).mb-6
      +VerticalButtonGroupExample 
  .d-none.d-md-block.button-component
    h4 Button Group
    p 
      | Group a series of buttons together on a single line with the button group. Wrap a series of buttons with 
      code .btn 
      | in
      code .btn-group 
    +ComponentCard({
      prismClass: 'mt-4'
    }).mb-6
      +ButtonGroupExample 