extends ../layouts/LayoutComponent
include ../mixins/components/Maps

prepend styles 

prepend scripts
  script(src!=`https://maps.googleapis.com/maps/api/js?key=${APIGmap}&callback=initMap` async)

append variables
  - var pageTitle = 'Google Map'

append component 
  +ComponentCard({
    prismTitle: 'HTML',
    prismTitleClass: 'mt-5'
  }).mb-3
    +MapBasicExample

  +BasicMapExampleJavascript 

  +MapsColorScheme

  +ComponentCard({
    subTitle: "Example",
    description:"With <code>AssassianCreed</code> scheme",
    prismTitle: 'HTML',
    prismTitleClass: 'mt-5'
  }).mt-5.mb-3
    +MapColorSchemeExample

  +StreetViewExample