extends ../layouts/LayoutComponent
include ../mixins/components/Grid

prepend styles 

prepend scripts

append variables
  - var pageTitle = 'Grid'

append component 
  h4 Bootstrap 5 grid system
  +BootstrapComponentLink({
    link: `https://getbootstrap.com/docs/${bootstrapVersion}/layout/grid/`,
    name: pageTitle,
  })

  +Grids