extends ../layouts/LayoutComponent
include ../mixins/components/LayoutHelpers

prepend styles 

prepend scripts

append variables
  - var pageTitle = 'Layout Helpers'

append component 
  p 
    | Easily make an element as wide or as tall (relative to its parent) with our widht and height utilities. includes support for 
    code  25%
    | ,
    code  50%
    | ,
    code  75%
    | , and 
    code  100%
    | by default.
  +BootstrapComponentLink({
    link: `https://getbootstrap.com/docs/${bootstrapVersion}/utilities/sizing/`,
    name: pageTitle,
  })

  +LayoutHelper