extends ../layouts/LayoutComponent
include ../mixins/components/Modal

prepend styles 

prepend scripts
  script(src=`${CWD}vendors/bigpicture/BigPicture.js`) 

append variables
  - var pageTitle = 'Video modals'

append component 
  +ComponentCard({
    title: 'Modal Video',
    titleClass: 'mt-5',
    description: 'YouTube and Vimeo videos can be used with bigpicture by just providing the video ID through <code>data-bigpicture</code>.',
    prismTitle: 'Html',
    prismTitleClass: 'mt-5'
  })
    +VideoModalDemo

  h5.mt-5 Javascript
  +ComponentCardLib
    script(src=`vendors/bigpicture/BigPicture.js`) 

 
  