extends ../layouts/LayoutComponent
include ../mixins/components/Parallax


prepend styles 

prepend scripts

append variables
  - var pageTitle = 'Parallax'

append component 
  p 
    | Add 
    code  data-parallax 
    | and
    code  .data-rellax-speed 
    | to make a parallax object. To make the image center add 
    code data-center="true". 

  p 
    | For detail documentation, 
    a(href="https://dixonandmoe.com/rellax/") Rellax documentation 
      span.ms-1 &xrarr;

  +ParallaxImageBackground

  p.mt-3 
    code data-rellax-speed 
    | can be positive or negative
    code number
    | .

  +ComponentCard({
    prismTitle: 'JavaScript',
  }).my-5
    script(src=`${CWD}vendors/rellax/rellax.js`)
  