extends ../layouts/LayoutComponent

include ../mixins/components/Smtpjs

prepend styles 

prepend scripts
  script(src="https://smtpjs.com/v3/smtp.js") 

append variables
  - var pageTitle = 'Smtpjs'

append component
  p 
    | For detail documentation, 
    a(href="https://smtpjs.com" target="_blank") Smtpjs documentation 
      span.ms-1 &xrarr;
  +Smtpjs