extends ../layouts/LayoutComponent
include ../mixins/components/Typography

prepend styles 

prepend scripts

append variables
  - var pageTitle = 'Typography'

append component
  +FontFamilyDemo

  +ComponentCard({
    title: 'Headings',
    description: '<strong>Hideaway</strong> has all the html headings,<code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, styled for you. Also you can use <code>.h1</code> through <code>.h6</code> classes when you want to match the font styling of a heading but still want your text to be displayed inline.',
    descriptionClass: 'mb-5',
    prismClass: 'mt-4'
  }).mt-5.mb-6
    +HeadingsDemo

  +ParagraphDemo
  +FontStylesDemo
  +ComponentCard({
    subTitle: 'Colors',
    description: `Use the following colors to change the text color`,
    descriptionClass: 'mb-4',
    prismClass: 'mt-5'
    
  }).mt-5
    +ColorsDemo 

  +ComponentCard({
    subTitle: 'Sizes',
    description: `If you want different sizes of fonts, you may use the following classes.`,
    descriptionClass: 'mb-4',
    prismClass: 'mt-5'
  }).mt-5
    +FontSizesDemo

  +TextAlignmentDemo

  +ComponentCard({
    subTitle: 'Transformation',
    subTitleClass: 'mb-4',
    prismClass: 'mt-4'
  }).mt-6
    +TextTransformationDemo
  
  +InlineTextDemo
  +BlockQuotesDemo
  +ListDemo

    
