include mixins/helper-mixins
include mixins/navigation
include mixins/home
include mixins/footer
include mixins/gallery
include mixins/history
include mixins/packages
include mixins/amenities
include mixins/contact