include mixins/helper-mixins
include mixins/navigation
include mixins/navigation-inner
include mixins/static-header
include mixins/sliding-header
include mixins/static-classic-header
include mixins/sliding-header-classic
include mixins/video-background
include mixins/video-background-classic
include mixins/self-hosted-video-background
include mixins/self-hosted-video-background-classic
include mixins/hoverbox
include mixins/story
include mixins/cta
include mixins/contact
include mixins/connect
include mixins/footer
include mixins/gallery
include mixins/history
include mixins/generic
include mixins/packages
include mixins/amenities
include mixins/about
include mixins/contact-form