extends ../layouts/LayoutTheme
include ../mixins/pages/HeroSection
include ../mixins/pages/Gallery


prepend styles 

prepend scripts

append content 
  +HeroSection({title: 'Gallery', image: `${CWD}assets/images/main-header-1.jpg`})
  +Gallery