extends ../layouts/LayoutTheme
include ../mixins/pages/HeroSection
include ../mixins/pages/History


prepend styles 

prepend scripts

append content 
  +HeroSection({title: 'Our History', image: `${CWD}assets/images/main-header-1.jpg`})
  +History