mixin LayoutContent  

  div()&attributes(attrsLayout)

    block wrapperContent
      block beforeContent

      .content()&attributes(attrsContent)

        block navbarTop
          +Navbar

        block content
        if footer
          +Footer

      block afterContent
