extends ../layouts/LayoutTheme
include ../mixins/common/Homes
include ../mixins/homes/HTMLVideo


prepend styles 

prepend scripts
  script(src!=`https://maps.googleapis.com/maps/api/js?key=${APIGmap}&callback=initMap` async)
  script(src=`${CWD}vendors/bigpicture/BigPicture.js`) 

append content 
  +VideoFull
  +Homes