// 
// Layout Helpers
// 
.full_height{
	height: 100vh;
}

.vertical_center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}



// 
// Typography Helpers
// 

.heading{
	h1{
		margin-top: 0;
	}
}