//
// Responsive breakpoints
//
$mq-responsive: true;
$mq-breakpoints: (
    mobile:  544px,
    tablet:  768px,
    desktop: 992px,
    wide:    1200px
);

@import "mq";


// 
// Spacing and padding helpers
// 

$spacer: 100px !default;


// Paddings
.p-b-0{
    padding-bottom: 0;
}
.p-t-0{
    padding-top: 0;
}
.p-l-0{
    padding-left: 0;
}
.p-r-0{
    padding: 0;
}

// Margins
.m-b-0{
    margin-bottom: 0;
}
.m-t-0{
    margin-top: 0;
}
.m-l-0{
    margin-left: 0;
}
.m-r-0{
    margin: 0;
}




// 
// Layout Helpers
// 
section{
	position: relative;
	overflow: hidden;
    padding: $spacer 0;
    @include mq($until: tablet) {
        padding: ($spacer / 2) 0;
    }
}

.full_height{
	height: 100vh;
    padding: 0;
}

.vertical_center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}



//
// Reseats
//

* {
    outline: none;
}
img{
	max-width: 100%;
}




//
// Style helpers
//

/* Parallax background */
.background_holder{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 0;
}



// 
// Typography Helpers
// 




// 
// Colors
// 


.background__primary{
    background: #fafafa;
}




//
// Button helpers
//

.buttons {
    .btn {
        margin-right: 15px;
        margin-top: 15px;

        &:last-child {
            margin-right: 0;
        }
    }
}
