$modular-scale-ratio: 1.414 !default;
$modular-scale-base: 1rem !default;

$heading-font: 'Raleway', sans-serif !default;
$content-font:  serif !default;



html {font-size: 16px;}

body {
  background-color: white;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  font-family: $content-font;
}


h1 {
  font-size: modular-scale(5);
  font-family: $heading-font;
}

h2 {
	font-size: modular-scale(4);
	font-family: $heading-font;
}

h3 {
	font-size: modular-scale(3);
	font-family: $heading-font;
}

h4 {
	font-size: modular-scale(2);
	font-family: $heading-font;
}

h5 {
	font-size: modular-scale(1);
	font-family: $heading-font;
}

p {font-size: modular-scale(0);}

h6 {
  font-size: modular-scale(-1);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

small{font-size: modular-scale(-1);}