extends ../pug_modules/skeleton

block append variables
	-var pageTitle = 'Modal video'
	-var subTitle = 'All modular elements can be readily used and customized in every layout across pages.'

block append styles
	link(href="assets/lib/remodal/dist/remodal.css" rel="stylesheet")
	link(href="assets/lib/remodal/dist/remodal-default-theme.css" rel="stylesheet")
	link(href="assets/lib/prism/prism.css" rel="stylesheet")

block append scripts
	script(src='assets/lib/remodal/dist/remodal.js')
	script(src='assets/lib/prism/prism.js')

block append content
	
	+navigation

	+classic-header("elements-header", 'Video modals', "Modular elements")
	
	+section(false, 'container')
		.row.justify-content-center
			.col-lg-10
				h4.mt-5 Modal Video
				a.video-modal.btn.btn-primary.color-white.mr-3(href='https://www.youtube.com/watch?v=c8aFcHFu8QM' data-start='16' data-end='168') Youtube
				
				a.video-modal.btn.btn-primary.color-white(href='https://vimeo.com/58558497' data-start='34' data-end='345') Vimeo

				h5.mt-5 HTML
				pre
					code.language-html.
						#{'<a class="video-modal btn btn-primary color-white" href="https://www.youtube.com/watch?v=c8aFcHFu8QM" data-start="16" data-end="168">Youtube Light Box</a>\n<a class="video-modal btn btn-primary color-white" href="https://vimeo.com/58558497" data-start="34" data-end="345">Vimeo Light Box</a>'}
				h5.mt-5 JavaScript
				pre
					code.lang-html.
						#{'<script src="assets/lib/remodal/dist/remodal.js"></script>'}
				h5.mt-5 CSS
				pre
					code.lang-html.
						#{'<link href="assets/lib/remodal/dist/remodal.css" rel="stylesheet"/>\n<link href="assets/lib/remodal/dist/remodal-default-theme.css" rel="stylesheet"/>'}

	+footer