extends ../pug_modules/skeleton


block append styles
	link(href="assets/lib/prism/prism.css" rel="stylesheet")
	link(href="assets/lib/flexslider/flexslider.css" rel="stylesheet")


block append scripts
	script(src='assets/lib/prism/prism.js')
	script(src='assets/lib/flexslider/jquery.flexslider-min.js')
	


block append variables
	-var pageTitle = 'Typography'
	-var subTitle = 'All modular elements can be readily used and customized in every layout across pages.'

block append content
	+navigation

	+classic-header('Slider')

	+section(false, 'container')(class="background-white")
		.flexslider.flexslider-simple.mt-5
			ul.slides
				li
					+section({image: 'assets/images/slider-1.jpg', cssclass:'overlay overlay-dark'}, 'container text-center')(class="color-white py-9")
						.row.align-itmes-center
							.col
								h3.color-white Slider One

				li
					+section({image: 'assets/images/slider-2.jpg', cssclass:'overlay'}, 'container text-center')(class="color-white py-9")
						.row.align-itmes-center
							.col
								h3.color-white Slider Two
		h5.mt-5 HTML
		pre
			code.lang-html.
				#{'<div class="flexslider flexslider-simple mt-5">\n\t<ul class="slides">\n\t\t<li>\n\t\t\t<section class="color-white py-9">\n\t\t\t\t<div class="background-holder overlay overlay-dark" style="background-image:url(assets/images/header-03.jpg);">\n\t\t\t\t</div>\n\t\t\t\t<div class="container text-center">\n\t\t\t\t\t<div class="row align-itmes-center">\n\t\t\t\t\t\t<div class="col">\n\t\t\t\t\t\t\t<h3>Slider One</h3>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</section>\n\t\t</li>\n\t\t<li>\n\t\t\t<section class="color-white py-9">\n\t\t\t\t<div class="background-holder overlay" style="background-image:url(assets/images/header-07.jpg);">\n\t\t\t\t</div>\n\t\t\t\t<div class="container text-center">\n\t\t\t\t\t<div class="row align-itmes-center">\n\t\t\t\t\t\t<div class="col">\n\t\t\t\t\t\t\t<h3>Slider Two</h3>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</section>\n\t\t</li>\n\t</ul>\n</div>'}
		h5.mt-5 JavaScript
		pre
			code.lang-html.
				#{'<script src="assets/lib/flexslider/jquery.flexslider.js"></script>'}
		h5.mt-5 CSS
		pre
			code.lang-html.
				#{'<link href="assets/lib/flexslider/flexslider.css" rel="stylesheet"/>'}
		
		.mt-5

		a(href='https://github.com/woocommerce/FlexSlider' target='_blank') Detail documentation &xrarr;
						
	

	+footer