extends ../pug_modules/skeleton

block append scripts
	script(src="assets/lib/isotope-layout/dist/isotope.pkgd.min.js")

block append content

	+navigation

	+classic-header("main-header-1", "Gallery")

	+gallery

	+footer