mixin Grids 
  +ComponentInvertedGridCard({
    prismClass: 'mt-1'
  }).mt-5
    .row 
      .col-12
        .py-5.border.border-dashed.border-400.bg-100

  
  +ComponentInvertedGridCard({
    prismClass: 'mt-1'
  }).mt-5
    .row 
      .col-6
        .py-5.border.border-dashed.border-400.bg-100
      .col-6
        .py-5.border.border-dashed.border-400.bg-100

  
  +ComponentInvertedGridCard({
    prismClass: 'mt-1'
  }).mt-5
    .row 
      .col-4
        .py-5.border.border-dashed.border-400.bg-100
      .col-4
        .py-5.border.border-dashed.border-400.bg-100
      .col-4
        .py-5.border.border-dashed.border-400.bg-100

  +ComponentInvertedGridCard({
    prismClass: 'mt-1'
  }).mt-5
    .row 
      .col-3
        .py-5.border.border-dashed.border-400.bg-100
      .col-3
        .py-5.border.border-dashed.border-400.bg-100
      .col-3
        .py-5.border.border-dashed.border-400.bg-100
      .col-3
        .py-5.border.border-dashed.border-400.bg-100

  +ComponentInvertedGridCard({
    prismClass: 'mt-1'
  }).mt-5
    .row 
      .col-2
        .py-5.border.border-dashed.border-400.bg-100
      .col-2
        .py-5.border.border-dashed.border-400.bg-100
      .col-2
        .py-5.border.border-dashed.border-400.bg-100
      .col-2
        .py-5.border.border-dashed.border-400.bg-100
      .col-2
        .py-5.border.border-dashed.border-400.bg-100
      .col-2
        .py-5.border.border-dashed.border-400.bg-100

  +ComponentInvertedGridCard({
    prismClass: 'mt-1'
  }).mt-5
    .row 
      .col-1
        .py-5.border.border-dashed.border-400.bg-100
      .col-1
        .py-5.border.border-dashed.border-400.bg-100
      .col-1
        .py-5.border.border-dashed.border-400.bg-100
      .col-1
        .py-5.border.border-dashed.border-400.bg-100
      .col-1
        .py-5.border.border-dashed.border-400.bg-100
      .col-1
        .py-5.border.border-dashed.border-400.bg-100
      .col-1
        .py-5.border.border-dashed.border-400.bg-100
      .col-1
        .py-5.border.border-dashed.border-400.bg-100
      .col-1
        .py-5.border.border-dashed.border-400.bg-100
      .col-1
        .py-5.border.border-dashed.border-400.bg-100
      .col-1
        .py-5.border.border-dashed.border-400.bg-100
      .col-1
        .py-5.border.border-dashed.border-400.bg-100