mixin VideoModalDemo
  .row.gx-3
    .col-auto
      = '\n'
      button.btn.btn-primary(data-bigpicture!={
        ytSrc: 'c8aFcHFu8QM',
      }) YouTube
      = '\n'
    .col-auto
      = '\n'
      button.btn.btn-primary(data-bigpicture!={
        vimeoSrc: '58558497',
      }) Vimeo
      = '\n'
