/*-----------------------------------------------
|   Documentation link and Prism
-----------------------------------------------*/
:not(pre) > code[class*='language-'], pre[class*='language-'] {
  border: $border-width solid var(--#{$prefix}gray-300);
  border-radius: $border-radius-sm;
  font-size: 87.5% !important;

}

 pre[class*='language-'] {
  padding: 1em;
  margin: .5em 0;
}

:not(pre) > code {
  padding: .2rem .4rem;
  font-size: 87.5%;
  color: var(--#{$prefix}code-color);
  border-radius: .25rem;
}

/*-----------------------------------------------
|   Utilities
-----------------------------------------------*/

.input-sm {
  padding: .4rem !important;
}

.input-xs{
  padding: .2rem !important;
}