
/*-----------------------------------------------
|   Forms
-----------------------------------------------*/

.form-group{
  margin-bottom: map-get($spacers, 3);
}
.form-control {
  padding: .8rem;
  border-color: var(--#{$prefix}gray-300);
  border-radius: var(--#{$prefix}border-radius-sm);
  background-color: var(--#{$prefix}gray-100);
  box-shadow: none;
}

.form-control:focus{
  background-color: $white;
  border-color: var(--#{$prefix}primary);
  box-shadow: none;
}
