.form-check{
  padding-left: 1rem;

  .form-check-input{
    margin-left: -1.25em;
  }
}

.form-check-input{
  width: 13px;
  height: 13px;
  margin-top: 0;
  border: 1px solid rgba($black, .5);
}

.disabled{
  .form-check-level{
    opacity: .7;
  }
}