/* -------------------------------------------------------------------------- */
/*                            Hamburgers Icon                                 */
/* -------------------------------------------------------------------------- */


.hamburger{
  padding: 8px!important;
  .hamburger-box{
    height: 0;
    width: 1.875rem;
    .hamburger-inner{
      &, &::after, &::before{
        width: 100%;
        height: 1px;
        border-radius: var(--#{$prefix}border-radius-sm);
        background-color: currentColor !important;
      }
    }
  }
  &.is-active{
    .hamburger-inner{
      background-color: transparent !important;
    }
  }
}

.hamburger--emphatic:not(.is-active) .hamburger-inner::before{
  top: -7px !important;
}
.hamburger--emphatic:not(.is-active) .hamburger-inner::after{
  top: 7px !important;
}

.navbar-secondary{
  .hamburger .hamburger-box .hamburger-inner,
  .hamburger .hamburger-box .hamburger-inner::after, 
  .hamburger .hamburger-box .hamburger-inner::before {
    background-color: var(--#{$prefix}gray-200)  !important;
  }
  .hamburger--emphatic.is-active .hamburger-inner{
    background-color: transparent !important;
  }
  .hamburger--emphatic.is-active .hamburger-inner::after, 
  .hamburger--emphatic.is-active .hamburger-inner::before{
      background-color: var(--#{$prefix}gray-200) !important;
  }
}