/*-----------------------------------------------
|   Reboot
-----------------------------------------------*/
::placeholder {
  opacity: 1;
  color: var(--#{$prefix}gray-400);
}

::selection {
  background-color: var(--#{$prefix}primary);
  color: $white;
}

[id]{
  scroll-margin-top: calc($top-nav-height + 1.5rem);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

pre,
code {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.main {
  margin: 16px;

  @include media-breakpoint-up(sm){
    margin: 1.625rem;
  }

  @include media-breakpoint-up(md){
    margin: 3.25rem;
  }
}


section {
  position: relative;
  padding-top: map_get($spacers, 6);
  padding-bottom: map_get($spacers, 6);

  @include media-breakpoint-up(md) {
    padding-top: map_get($spacers, 8);
    padding-bottom: map_get($spacers, 8);
  }
}

small {
  font-size: map-get($font-sizes, 10);
}
.small, small{
  font-weight: 400;
}

hr{
  display: inline-block;
  margin-top: .25rem;
}

//setting up font family for bootstrap components
input,
select,
optgroup,
textarea,
label,
.alert,
.badge,
.blockquote-footer,
.navbar,
.pagination,
.valid-feedback,
.invalid-feedback {
  font-family: var(--#{$prefix}font-base);
}

mark, .mark {
  color: var(--#{$prefix}gray-1100);
}
pre {
  margin: 0;
  transform: translate3d(0, 0, 0);
}

strong {
  font-weight: $font-weight-semi-bold;
}

label {
  font-size: map_get($font-sizes, 10);
  font-weight: $form-label-font-weight;
  margin-bottom: $form-label-margin-bottom;
  letter-spacing: 0.02em;
}

pre,
code,
kbd,
samp {
  font-size: $font-size-sm;
}

[dir="rtl"]{
  pre, code, kbd, samp{
    direction: rtl
  }
}


img{
  max-width: 100%;
}

p {
  margin-bottom: 1.6rem;
  line-height: 1.6;
}

legend {
  font-size: map-get($font-sizes, 10);
  font-weight: $font-weight-semi-bold;
}

/*-----------------------------------------------
|   Headers
-----------------------------------------------*/


.h4, h4{
  margin-bottom: 1.333rem;
}

h1, .h1 {
  line-height: 1;
}


.banner{
  min-height: calc(100vh - 104px) ;
}
.banner-classic {
  min-height: calc(75vh - 104px);
}
ul {
  padding-left: 2.5rem;
}
