mixin nav__onepage(settings)
	div.navbar__warapper.clearfix
		#menuzord.menuzord(class=settings.color)
			a.menuzord-brand(href='javascript:void(0)') Z i O N
			ul.menuzord-menu(class='menuzord-'+settings.alignment)
				li.active
					a(href='#about') Simple item
				li
					a(href='javascript:void(0)') Dropdown
					ul.dropdown
						li
							a(href='#') Programming
						li
							a(href='#') Hosting
						li
							a(href='#') Design
						li
							a(href='#') Vectors
				li
					a(href='#') Web development
					ul.dropdown
						li
							a(href='#') .NET
						li
							a(href='#') Magento
						li
							a(href='#') Joomla
						li
							a(href='#') MODX
						li
							a(href='#') Wordpress
						li
							a(href='#') Ruby on Rails
						li
							a(href='#') Mobile
						li
							a(href='#') Folders
						li
							a(href='#') Business cards

				li.scrollable-fix(style='height: 1px')