extends ../layouts/LayoutDocs
include ../mixins/docs/Customization


prepend styles 

prepend scripts


append variables
  - var pageTitle = 'Customization'
  - var pageDes = 'Becuase You are unique.'

append docs 
  +Customization