extends ../layouts/LayoutDocs
include ../mixins/docs/GettingStarted


prepend styles 

prepend scripts


append variables
  - var pageTitle = 'Getting Started'
  - var pageDes = 'HEAD START YOUR STYLISH WEBSITE WITH A GORGEOUS TEMPLATE'

append docs 
  +GettingStarted

